#pinch-zoom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
  
  #pinch-zoom-container img {
    width: 70%;
    height: auto;
  }

  ion-fab-button {
  --background: #6899ee;
}

.active-icon {
  background-color: #3880ff; /* Example: Blue background for active icon */
  color: white; /* White text color */
}