<ion-app [class.ion-palette-dark]="dark">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
            ESSLLI 2024
          </ion-list-header>
          <ng-container *ngFor="let p of appPages; let i = index">
            <ion-menu-toggle autoHide="false" *ngIf="!p.children">
              <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
                <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-item button (click)="toggleSubmenu()" *ngIf="p.children">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
              <ion-icon slot="end" [name]="submenuOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
            </ion-item>
            <ng-container *ngIf="submenuOpen && p.children">
              <ion-menu-toggle autoHide="false" *ngFor="let child of p.children">
                <ion-item class="submenu-item" [routerLink]="child.url" routerLinkActive="selected" routerDirection="root" detail="false">
                  <ion-icon slot="start" [name]="child.icon + '-outline'"></ion-icon>
                  <ion-label>
                    {{child.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ng-container>
          </ng-container>
        </ion-list>
        
        <ion-list lines="none">
          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-toggle [(ngModel)]="dark">
              Dark Mode
            </ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
